<!doctype html>
<html lang="ch">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>异常管理</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/axios.min.js"></script>
    <link href="css/scrollline.css" rel="stylesheet">
    <link href="font/bootstrap-icons.css" rel="stylesheet">
    <link href="css/messagebox.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .form-control:disabled, .form-control[readonly] {
            background-color: #fff;
            opacity: 1;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
    <script src="js/vue.min.js"></script>
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" style="font-size: 1.3rem;" href="#"><img class="mr-1"
                                                                                                 src="img/white.png" width="25px" style="padding-bottom:7px;">智能检测系统</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a style="color: white;font-size: 1.3rem;"><i class="bi bi-box-arrow-right mr-1"></i></a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
             style="font-size: 1.0rem;">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/monitor">
                            <span data-feather="camera"></span>
                            监控页面
                        </a>
                    </li>
                    <li class="nav-item mt-1">
                        <a class="nav-link active" href="#">
                            <span data-feather="file"></span>
                            异常管理
                        </a>
                    </li>
                    <li class="nav-item mt-1">
                        <a class="nav-link" href="/data">
                            <span data-feather="bar-chart-2"></span>
                            数据统计
                        </a>
                    </li>
                    <li class="nav-item mt-1">
                        <a class="nav-link" href="/manage">
                            <span data-feather="layers"></span>
                            系统设置
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <main role="main" id="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-2 mt-1">
            <div style="height: 40px;">
                <h2 style="float:left" class="text-secondary">#异常统计表</h2>
                <button class="btn btn-outline-dark mt-1 ml-2" style="float:right" data-toggle="collapse"
                        data-target="#demo">
                    <i class="bi bi-search mr-1"></i>条件筛选
                </button>
                <button class="btn btn-outline-secondary mt-1 ml-2" style="float:right" @click="getAllList">
                    <i class="bi bi-wallet2 mr-1"></i>显示全部
                </button>
                <button class="btn btn-outline-info mt-1 ml-2" style="float:right" @click="getExcel">
                    <i class="bi bi-download mr-1"></i>表单导出
                </button>
            </div>

            <div style="width: 100%;" id="demo" class="collapse mt-2">
                <table class="table">
                    <thead>
                    <tr id="sort-tr">
                        <th>车牌号:<input type="text" class="form-control" v-model="query.abnormalVehicleNumber">
                        </th>
                        <th>异常类型:
                            <input type="text" class="form-control" v-model="query.exceptionType">
                        </th>
                        <th>
                            检测站:
                            <input type="number" class="form-control" v-model.number="query.detectionStationName">
                        </th>
                        <th>
                            检测线:
                            <input type="number" class="form-control" v-model.number="query.detectionLineName">
                        </th>
                        <th>
                            摄像头:
                            <input type="number" class="form-control" v-model.number="query.monitorName">
                        </th>
                        <th>
                            筛选开始时间:
                            <input type="datetime-local" class="form-control"
                                   v-model="query.exceptionStartTime">
                        </th>
                        <th>
                            筛选结束时间:
                            <input type="datetime-local" class="form-control" v-model="query.exceptionEndTime">
                        </th>

                        <th>
                            <button type="button" class="btn btn-outline-info" @click="getQueryList">
                                <i class="bi bi-search" style="font-size: 1rem;"></i>
                            </button>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-striped text-secondary" style="font-size: 0.9rem;">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>车牌号</th>
                        <th>异常类型</th>
                        <th>处理情况</th>
                        <th>检测地点</th>
                        <th>异常时间</th>
                        <th style="width: 100px;">功能</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,i) in list.records">
                        <td>{{item.exceptionId}}</td>
                        <td>{{item.abnormalVehicleNumber}}</td>
                        <td>{{item.exceptionType}}</td>
                        <td :class="item.exceptionStatus == 1?'text-info' : 'text-danger'">
                            {{item.exceptionStatus == 1 ? '已处理' : '未处理'}}
                        </td>
                        <td>
                            检测站-{{item.exceptionDetectionStation}}&nbsp;
                            检测线-{{item.exceptionDetectionLine}}&nbsp;
                            摄像头-{{item.exceptionDetectionMonitor}}
                        </td>
                        <td>{{item.exceptionTime}}</td>
                        <td>
                            <a class="text-info" data-toggle="modal" data-target="#processModal" @click="getProcessModal(i)">处理</a>
                            <a class="text-danger" @click="deleteException(item.exceptionId)">&nbsp;删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- 模态框 -->
                <div class="modal fade" id="processModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- 模态框头部 -->
                            <div class="modal-header">
                                <h4 class="modal-title text-secondary">
                                    {{ processModel.abnormalVehicleNumber }}:
                                    <span :class="processModel.processingStatus == 1?'text-info ml-1' : 'text-danger ml-1'">
                                        {{processModel.processingStatus == 1 ? '已处理' : '未处理'}}
                                    </span>
                                </h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- 模态框主体 -->
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="processTime" v-if="processModel.processingStatus==1">处理时间:</label>
                                    <input disabled type="text" class="form-control" id="processTime" v-model="processModel.processingTime" v-if="processModel.processingStatus==1">
                                </div>
                                <div class="form-group">
                                    <label for="processStaff">处理人:</label>
                                    <input type="text" class="form-control" id="processStaff" v-model="processModel.processingStaff">
                                </div>
                                <div class="form-group">
                                    <label>处理结果:</label>
                                    <textarea class="form-control" id="processResult" v-model="processModel.processingFeedbackInfo"></textarea>
                                </div>
                            </div>
                            <!-- 模态框底部 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-info" @click="saveProcess">保存</button>
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li :class="list.current==1?'page-item disabled':'page-item'"><a class="page-link"
                                                                                         href="#" @click="getPrevPage">上一页</a></li>
                        <li :class="n==list.current?'page-item active' : 'page-item'" v-for="n in list.pages"><a
                                class="page-link" href="#" @click="pageHref(n)">{{n}}</a></li>
                        <li :class="list.current>=list.pages?'page-item disabled':'page-item'"><a class="page-link"
                                                                                                  href="#" @click="getNextPage">下一页</a></li>
                    </ul>
                </nav>
            </div>
        </main>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="js/messagebox.js"></script>
<script>
    feather.replace();

    let vm = new Vue({
        el: '#main',
        data: {
            token:'',
            list: {

            },
            query: {
                abnormalVehicleNumber: null,
                exceptionType: null,
                exceptionStartTime: null,
                exceptionEndTime: null,
                monitorName: null,
                detectionStationName: null,
                detectionLineName: null,
            },
            process:{

            },
            processModel:{
                abnormalVehicleNumber: "车牌号",
                exceptionId: null,
                processingFeedbackInfo: null,
                processingId: null,
                processingStaff: null,
                processingStatus: null,
                processingTime: null
            },
            current: 1
        },
        mounted: function () {
            this.getAllList();
            this.token = localStorage.getItem("token");
            console.log(this.token);
        },
        methods: {
            saveProcess: function (){
                let processingTime = this.getCurrentTime();
                let that = this;
                console.log(processingTime);
                axios.post('/api/pro/saveOrUpdate',
                    {
                        exceptionId:that.processModel.exceptionId,
                        processingId:that.processModel.processingId,
                        abnormalVehicleNumber:that.processModel.abnormalVehicleNumber,
                        processingStatus:1,
                        processingStaff:that.processModel.processingStaff,
                        processingTime:processingTime,
                        processingFeedbackInfo:that.processModel.processingFeedbackInfo,
                    },
                    {
                        headers:{
                            "token" : localStorage.getItem("token"),
                        }
                    }
                ).then(function (response) {
                    //反馈
                    console.log(response);
                    if(response.data.returnCode !== 0){
                        showInfoBox(6,"请求失败!",1);
                    }
                    else{
                        showInfoBox(6,"保存成功!",0);
                        that.getAllList();
                        $("#processModal").modal('hide');
                    }
                }).catch(function (error) {
                    //出错状况
                    console.log(error);
                    showInfoBox(6,"网络出错了!",1);
                });
            },
            deleteException: function (exceptionId){
                if(confirm("确认删除该条纪录?")){
                    console.log(exceptionId);
                    let that = this;
                    axios.post('/api/except/delete',
                        {
                            exceptionId:exceptionId
                        },
                        {
                            headers:{
                                "token" : localStorage.getItem("token"),
                            }
                        }
                    ).then(function (response) {
                        //反馈
                        console.log(response);
                        if(response.data.returnCode !== 0){
                            showInfoBox(6,"请求失败!",1);
                        }
                        else{
                            showInfoBox(6,"删除成功!",0);
                            that.getAllList();
                        }
                    }).catch(function (error) {
                        //出错状况
                        console.log(error);
                        showInfoBox(6,"网络出错了!",1);
                    });
                }
            },
            getProcessModal:function (index){
                this.processModel = this.process[index];
            },
            getProcessData:function (){
                let that = this;
                axios.post('api/pro/queryProcessing', {},{
                        headers:{
                            "token" : localStorage.getItem("token"),
                        }
                    }
                ).then(function (response) {
                    //反馈
                    if(response.data.returnCode !== 0){
                        showInfoBox(6,"请求失败!",1);
                    }
                    else{
                        that.process = response.data.data.records;
                    }
                }).catch(function (error) {
                    //出错状况
                    console.log(error);
                    showInfoBox(6,"网络出错了!",1);
                });
            },

            getAllList: function () {
                this.query = {
                    abnormalVehicleNumber: null,
                    exceptionType: null,
                    exceptionStartTime: null,
                    exceptionEndTime: null,
                    monitorName: null,
                    detectionStationName: null,
                    detectionLineName: null,
                }
                this.pageHref(1);
            },

            getNextPage: function () {
                let page = this.current + 1;
                this.pageHref(page);
            },
            getPrevPage: function () {
                let page = this.current - 1;
                this.pageHref(page);
            },

            getQueryList: function () {
                this.pageHref(1);
            },

            pageHref:function (page){
                let data = {
                    pageNum: page,
                    pageSize: 14
                };
                this.axiosConectList($.extend({}, data, this.query));
            },

            axiosConectList: function (data) {
                let that = this;
                axios.post('api/except/queryException', data,{
                        headers:{
                            "token" : localStorage.getItem("token"),
                        }
                    }
                ).then(function (response) {
                    //反馈
                    if(response.data.returnCode !== 0){
                        showInfoBox(6,"请求失败!",1);
                    }
                    else{
                        that.list = response.data.data;
                        that.current = response.data.data.current;
                        that.getProcessData();
                    }
                }).catch(function (error) {
                    //出错状况
                    console.log(error);
                    showInfoBox(6,"网络出错了!",1);
                });
            },
            getExcel:function (){
                let that = this;
                axios.post('api/except/export', {},
                    {
                        headers:{
                            "token" : localStorage.getItem("token"),
                        },
                        responseType : "blob"
                    }
                ).then(function (response) {
                    // 处理blob下载文件
                    let blob = new Blob([response.data], {
                        type: "application/vnd.ms-excel",
                    });
                    let url = window.URL.createObjectURL(blob); // 3.创建一个临时的url指向blob对象
                    let a = document.createElement("a");
                    let time = that.getCurrentTime();
                    a.href = url;
                    a.download = "异常统计表" + time + ".xlsx";
                    a.click();
                    window.URL.revokeObjectURL(url);
                }).catch(function (error) {
                    //出错状况
                    console.log(error);
                    showInfoBox(6,"网络出错了!",1);
                });
            },
            getCurrentTime: function (){
                let date = new Date();

                let year = date.getFullYear();
                let month = date.getMonth()+1;
                let day = date.getDate();

                let hour = date.getHours();
                let minute = date.getMinutes();
                let second = date.getSeconds();

                return year + "-" + (month < 10 ? "0" + month : month) + "-" + (day < 10 ? "0" + day : day) + " " + (hour < 10 ? "0" + hour : hour) + ":" + (minute < 10 ? "0" + minute : minute) + ":" + (second < 10 ? "0" + second : second);
            }
        }
    });


    function logout(){

    }
</script>
</body>

</html>