<!doctype html>
<html lang="ch">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>数据统计</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/axios.min.js"></script>
    <script src="js/vue.min.js"></script>
    <link href="css/scrollline.css" rel="stylesheet">
    <link href="font/bootstrap-icons.css" rel="stylesheet">
    <link href="css/messagebox.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" style="font-size: 1.3rem;" href="#"><img class="mr-1"
                                                                                                 src="img/white.png" width="25px" style="padding-bottom:7px;">智能检测系统</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a style="color: white;font-size: 1.3rem;"><i class="bi bi-box-arrow-right mr-1"></i></a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
             style="font-size: 1.0rem;">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/monitor">
                            <span data-feather="camera"></span>
                            监控页面
                        </a>
                    </li>
                    <li class="nav-item mt-1">
                        <a class="nav-link" href="/control">
                            <span data-feather="file"></span>
                            异常管理
                        </a>
                    </li>
                    <li class="nav-item mt-1">
                        <a class="nav-link active" href="#">
                            <span data-feather="bar-chart-2"></span>
                            数据统计
                        </a>
                    </li>
                    <li class="nav-item mt-1">
                        <a class="nav-link" href="/manage">
                            <span data-feather="layers"></span>
                            系统设置
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <main id="main" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-2">
            <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-1 border-bottom">
                <h1 class="h3 text-secondary" id="title">当日预警数 - 10</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <button class="btn btn-outline-info dropdown-toggle mr-1" style="float:right"
                            data-toggle="dropdown">
                        <i class="bi bi-bar-chart-steps mr-1 "></i>统计表选择
                    </button>
                    <div class="dropdown-menu" id="scrollspy">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#dayChart" id="all">总预警数统计</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#rateChart" id="rate">预警处理率统计</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#map" id="stationStatus">检测站分布情况</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="overflow: auto;height: calc(100vh - 113px);" data-spy="scroll" data-target="#scrollspy">
                <canvas class="w-100" id="dayChart" style="height: 49%;"></canvas>
                <canvas class="w-100" id="rateChart" style="height: 49%;"></canvas>
                <canvas class="w-100" id="map" style="height: 99%;"></canvas>
            </div>
        </main>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="js/feather.min.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/messagebox.js"></script>
<script>
    /* globals Chart:false, feather:false */

    feather.replace()

    let vm = new Vue({
        el: '#main',
        data: {
            graphData: {
                labels: [],
                data: [],
            },

            dayData: {
                labels: [],
                data: [],
            },

            rate: {
                labels: [],
                data: [],
            },

            stationData: {},
        },
        mounted: function () {
            this.getDayException();
        },
        methods: {
            getDayData: function () {
                let that = this;
                axios.post('/api/stat/week/getExceptionCount'
                    ,{ scope: 7 }, {
                    headers: {
                        "token": localStorage.getItem("token"),
                    }
                    }
                ).then(function (response) {
                    //反馈
                    if (response.data.returnCode !== 0) {
                        showInfoBox(6, "请求失败!", 1);
                    }
                    else {
                        that.dayData = {
                            labels: [],
                            data: [],
                        }
                        for (let i in response.data.data) {
                            that.dayData.data.push(response.data.data[i].exceptionCount);
                            that.dayData.labels.push(response.data.data[i].exceptionTime.substring(0, 10));
                        }
                        let bo = (that.getCurrentDate === that.dayData.labels[that.dayData.labels.length - 1]);
                        that.dayData.data.push(0);
                        that.dayData.labels.push(that.getCurrentDate());
                        that.graphData.data = that.dayData.data;
                        that.graphData.labels = that.dayData.labels;
                        that.setGraphs('dayChart', '近日预警数统计表');
                        $('#title').text("#当日预警数 - " + (bo ? that.dayData.data[that.dayData.data.length - 1] : 0));

                        that.getRateData();
                    }
                }).catch(function (error) {
                    //出错状况
                    console.log(error);
                    showInfoBox(6, "网络出错了!", 1);
                });
            },

            getRateData: function () {
                axios.post('/api/stat/week/getExceptionCount',{
                        scope: 7,
                        isHandled:1
                    }, {
                        headers: {
                            "token": localStorage.getItem("token"),
                        }
                    }
                ).then(function (response) {
                    //反馈
                    if (response.data.returnCode !== 0) {
                        showInfoBox(6, "请求失败!", 1);
                    }
                    else {
                        console.log(response.data);
                    }
                }).catch(function (error) {
                    //出错状况
                    console.log(error);
                    showInfoBox(6, "网络出错了!", 1);
                });
            },

            getDayException: function () {
                let that = this;
                that.getDayData();
                setInterval(function () {
                    that.getDayData();
                }, 60000);
            },

            getStationException: function () {

                this.graphData.data = this.stationData;
                $('#title').text("#当日 " + "xx" + " 检测站预警数 - " + this.stationData[this.stationData.length - 1]);
                let count = 7;
                this.getLabel(count);
                this.setGraphs();
            },

            getStationStatus: function () {

            },

            getProcessRate: function () {

                this.graphData.data = this.rate;
                $('#title').text("#当日异常处理率 - " + this.rate[this.rate.length - 1] + "%");
                let count = 7;
                this.getLabel(count);
                this.setGraphs();
            },

            getCurrentDate: function () {
                let date = new Date();

                let year = date.getFullYear();
                let month = date.getMonth() + 1;
                let day = date.getDate();

                return year + "-" + (month < 10 ? "0" + month : month) + "-" + (day < 10 ? "0" + day : day);
            },

            setGraphs: function (el, title) {
                'use strict'
                // Graphs
                var ctx = document.getElementById(el)
                // eslint-disable-next-line no-unused-vars
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: this.graphData.labels,
                        datasets: [{
                            data: this.graphData.data,
                            lineTension: 0,
                            backgroundColor: 'transparent',
                            borderColor: '#007bff',
                            borderWidth: 4,
                            pointBackgroundColor: '#007bff'
                        }]
                    },
                    options: {
                        title: { //标题
                            display: true,
                            text: title,
                            fontColor: "#000",
                            fontSize: 23,
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: 1,
                                    fontSize: 16,
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontSize: 16,
                                }
                            }]
                        },
                        legend: {
                            display: false
                        }
                    }
                })
            }
        }
    })

</script>
</body>

</html>