<!doctype html>
<html lang="ch">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>系统管理</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/axios.min.js"></script>
    <script src="js/vue.min.js"></script>
    <link href="css/scrollline.css" rel="stylesheet">
    <link href="font/bootstrap-icons.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" style="font-size: 1.3rem;" href="#"><img class="mr-1" src="img/white.png"
                                                                                                 width="25px" style="padding-bottom:7px;">智能检测系统</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a style="color: white;font-size: 1.3rem;"><i class="bi bi-box-arrow-right mr-1"></i></a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
             style="font-size: 1.0rem;">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/monitor">
                            <span data-feather="camera"></span>
                            监控页面
                        </a>
                    </li>
                    <li class="nav-item mt-1">
                        <a class="nav-link" href="/control">
                            <span data-feather="file"></span>
                            异常管理
                        </a>
                    </li>
                    <li class="nav-item mt-1">
                        <a class="nav-link" href="/data">
                            <span data-feather="bar-chart-2"></span>
                            数据统计
                        </a>
                    </li>
                    <li class="nav-item mt-1">
                        <a class="nav-link active" href="#">
                            <span data-feather="layers"></span>
                            系统设置
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-5 mt-4">
            <div id="accordion" style="width: 600px">
                <div class="card">
                    <div class="card-header" data-toggle="collapse" href="#collapseOne">
                        <a class="card-link">
                            检测站1
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">

                            <div id="accordion-1">
                                <div class="card">
                                    <div class="card-header" data-toggle="collapse" href="#collapseOne-1">
                                        <a class="card-link">
                                            检测线1
                                        </a>
                                    </div>
                                    <div id="collapseOne-1" class="collapse show" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">摄像头1</li>
                                                <li class="list-group-item">摄像头2</li>
                                                <li class="list-group-item">摄像头3</li>
                                                <li class="list-group-item">摄像头4</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" data-toggle="collapse" href="#collapseOne-1">
                                        <a class="card-link">
                                            检测线2
                                        </a>
                                    </div>
                                    <div id="collapseOne-2" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">摄像头1</li>
                                                <li class="list-group-item">摄像头2</li>
                                                <li class="list-group-item">摄像头3</li>
                                                <li class="list-group-item">摄像头4</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script>
    feather.replace()
    let vm = new Vue({
        el:'main',
        data:{

        },
        mounted(){
            this.getAllEquipment();
        },
        methods:{
            getAllEquipment(){
                axios.post('/api/equipment/queryEquipment', {

                    },{
                        headers:{
                            "token" : localStorage.getItem("token"),
                        }
                    }
                ).then(function (response) {
                    //反馈
                    console.log(response);
                    if(response.data.returnCode !== 0){
                        showInfoBox(6,"请求失败!",1);
                    }
                    else{
                        console.log(response.data);
                    }
                }).catch(function (error) {
                    //出错状况
                    console.log(error);
                    showInfoBox(6,"网络出错了!",1);
                });
            }
        }
    })
</script>
</body>

</html>