<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fibikky.vehicle.web.main.mappers.ProcessingMapper">

    <select id="listByPage" resultType="com.fibikky.vehicle.web.main.entities.Processing">
        select *
        from processing
        <where>
            <if test="query.abnormalVehicleNumber!=null and query.abnormalVehicleNumber!=''">
                and (processing.abnormal_vehicle_number like concat('%', #{query.abnormalVehicleNumber}, '%'))
            </if>
            <if test="query.exceptionId!=null and query.exceptionId!=''">
                and (processing.exception_id like concat('%', #{query.exceptionId}, '%'))
            </if>
            <if test="query.processingStatus!=null and query.processingStatus!=''">
                and processing.processing_status= #{query.processingStatus}
            </if>
            <if test="query.processingStaff!=null and query.processingStaff!=''">
                and (processing.processing_staff like concat('%', #{query.processingStaff}, '%'))
            </if>
            <if test="query.processingFeedbackInfo!=null and query.processingFeedbackInfo!=''">
                and (processing.processing_feedback_info like concat('%', #{query.processingFeedbackInfo}, '%'))
            </if>
            <if test="query.processingStartTime!=null and query.processingStartTime!=''">
                <![CDATA[  and processing.processing_time >= #{query.processingStartTime}  ]]>
            </if>
            <if test="query.processingEndTime!=null and query.processingEndTime!=''">
                <![CDATA[  and processing.processing_time <= #{query.processingEndTime}  ]]>
            </if>
        </where>
    </select>
</mapper>